body {
    margin: none; /* Dit zorgt ervoor dat er geen overbodige margin in de body zit. 
                     Dit zorgt er soms voor dat de content net niet volledig past*/

    background-color: rgba(180, 180, 180, 0.849);

}
/*telefoon en tablet versie*/
#dashboard {
    height: 97vh; /*staat niet op 100 omdat er dan soms een schuifbalk verschijnt wat niet mooi past op de dashboard*/
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
    grid-template-areas: "header       header"
                         "verbruik     verbruik"
                         "verbruik     verbruik"
                         "berekenaar   weer"
                         "berekenaar   weer"
                         "berekenaar   theme"
                         "berekenaar   theme"
                         "controlpanel controlpanel"
                         "controlpanel controlpanel";
}

/* de items en andere elementen in de grid */
/*  de Grid items  */
.item {
    background-color:  #FFFFFF;
    border: 2px solid rgb(111, 110, 110);
    border-radius: 10px;
    padding: 20px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    background-color: rgb(19, 116, 195);
    grid-area: header;
}

/* Op bepaalde qeury's word de header te groot door de logo */
#logoLB {
    display: grid;
    align-items: center;
    grid-area: header;
    max-width: 100%;
    height: auto;
    
}

.verbruik {
    grid-area: verbruik;

}

input {
    width: 100%;
}

#kostenP {
    align-items: center;
}

/* Hier ben ik mee bezig niks mee doen aub*/
.berekenaar {
    grid-area: berekenaar;

}

/* Dit is de stroomkosten berekenaar */
.Kosten {
    grid-area: berekenaar;
    max-width: 100%;
    height: auto;
}

.weer {
    grid-area: weer;

}

.theme {
    grid-area: theme;

}

.controlpanel {
    grid-area: controlpanel;

}

.tijdcard {
    justify-content: space-between;
    padding: 60px;
    
}

/* Verschillende media querys om het dashboard op zoveel mogelijk apparaten te laten functioneren*/

/*Desktop versie layout*/
/* de mediaquery van de telefoon en gemiddlede tablets versie staat onder de comment op regel7*/

@media screen and (min-width: 900px) {
    #dashboard {
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header       header   header"
                             "verbruik     verbruik controlpanel"
                             "verbruik     verbruik controlpanel"
                             "berekenaar   weer     controlpanel"
                             "berekenaar   weer     theme" ;
    }

    body {
        margin: 0px;
    }
}

/*layout voor apparaten met hoog scherm zoals de ipad pro*/
@media screen and ( max-width: 1100px ) and ( min-height: 900px ) {
    #dashboard {
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header       header          header"
                             "verbruik     verbruik        controlpanel"
                             "verbruik     verbruik        controlpanel"
                             "berekenaar   berekenaar      controlpanel"
                             "weer         weer            theme" ;
    }

    body {
        margin: 0px;
    }
}

/*layout voor apparaten met niet brede schermen*/
@media screen and ( max-width: 350px ) and ( max-height: 550px ){
    #dashboard {
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header          header"
                             "verbruik        verbruik"
                             "controlpanel    controlpanel"
                             "berekenaar      berekenaar"
                             "weer            weer"
                             "theme           theme" ;
    }

    body {
        margin: 0px;
    }
}

/* lay-out voor apparaten met een kleine height*/

@media screen and (max-height: 600px) {
    #dashboard {
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header  verbruik     verbruik controlpanel"
                             "header  verbruik     verbruik controlpanel"
                             "header  berekenaar   weer     controlpanel"
                             "header  berekenaar   weer     theme" ;
    }

    body {
        margin: 0px;
    }

    .item {
        background-color:  #FFFFFF;
        border: 2px solid rgb(111, 110, 110);
        border-radius: 10px;
        padding: 10px;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .header {
        margin: none;
        padding: none;
        background-color: rgb(19, 116, 195);
        grid-area: header;
    }
}